

.section1 {
    background-color: #1F2937;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 16px;
}

.container1{
    background-color: #1F2937;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    color:white;
    padding: 48px 0 70px 0;
}

.links{
    display:flex;
    gap:16px;
}

.button{
    display:flex;
    height: auto;
    width: 75px;
    background-color: #3882f6;
    justify-content: center;
    align-items:center;
    padding: 6px;
    border:20px;
    border-radius:8px;
}

.placeholder{
    display: flex;
    height: 200px;
    width: 400px;
    background-color: grey;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
}

.container2{
    display:flex;
    flex-direction: row;
    align-items: center;
}

 img{
    border:2px solid blue;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.text{
    text-align: end;

}

.section3{
    background-color: #E5E7EB;
}


.footer{
    background-color: #1F2937;
}

a, p{
    font-weight: 18px;
    color:#E5E7EB;
    
}

h2{
    display: flex;   
}
